# ==========================================
# CONFIGURACIÓN DE INFRAESTRUCTURA
# ==========================================
CLOUDFLARE_TOKEN=

# ==========================================
# CONFIGURACIÓN DE BASE DE DATOS (POSTGRESQL)
# ==========================================
# Credenciales del superusuario (Solo usadas por el contenedor para inicializar)
POSTGRES_ROOT_PASSWORD=tu_password_segura_root

# ==========================================
# CADENAS DE CONEXIÓN PARA LOS MICROSERVICIOS
# (Usan los usuarios definidos en postgres/init.sql)
# ==========================================
# Auth Service -> auth_schema
AUTH_DB_URL=postgres://auth_user:auth_password_123@postgres:5432/ecommerce_db?schema=auth_schema

# Inventory Service -> inventory_schema
INVENTORY_DB_URL=postgres://inventory_user:inventory_password_123@postgres:5432/ecommerce_db?schema=inventory_schema

# Chat Service -> chat_schema
CHAT_DB_URL=postgres://chat_user:chat_password_123@postgres:5432/ecommerce_db?schema=chat_schema

# ==========================================
# JWT SECRET (COMPARTIDO ENTRE MICROSERVICIOS)
# ==========================================
# Clave secreta para firmar y verificar los tokens JWT
# DEBE ser la misma en todos los microservicios
JWT_SECRET=tu_jwt_secret_super_seguro_cambia_esto
