<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce App</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main class="container">
      <h1>Ecommerce App Web</h1>
      <p>Arquitectura monolítica por capas con Express, Socket.IO, PostgreSQL y Redis.</p>
      <p id="status">Conectando socket...</p>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
